<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.module.cart.mapper.CartMapper">
    
    <resultMap type="Cart" id="CartResult">
        <result property="cartId"    column="cart_id"    />
        <result property="productId"    column="product_id"    />
        <result property="memberId"    column="member_id"    />
        <result property="count"    column="count"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <association property="simtooProduct" javaType="SimtooProduct">
            <result property="name"    column="name"    />
            <result property="money"    column="money"    />
        </association>
    </resultMap>
	
	<sql id="selectCartVo">
        select cart_id, product_id, member_id, count, create_time, update_time from s_cart
    </sql>
	
    <select id="selectCartList" parameterType="Cart" resultMap="CartResult">
        <include refid="selectCartVo"/>
        <where>  
            <if test="cartId != null and cartId != ''"> and cart_id = #{cartId}</if>
             <if test="productId != null and productId != ''"> and product_id = #{productId}</if>
             <if test="memberId != null and memberId != ''"> and member_id = #{memberId}</if>
             <if test="count != null and count != ''"> and count = #{count}</if>
             <if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>
             <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime}</if>
         </where>
    </select>

    <select id="selectCartListMeneber" parameterType="map" resultMap="CartResult">
        select t1.cart_id, t1.product_id, t1.member_id, count ,t2.name ,t2.money from s_cart t1
        LEFT  JOIN s_simtoo_product t2 ON  t1.product_id = t2.product_id
        <where>
            <if test="cartId != null and cartId != ''"> and t1.cart_id = #{cartId}</if>
            <if test="productId != null and productId != ''"> and t1.product_id = #{productId}</if>
            <if test="memberId != null and memberId != ''"> and t1.member_id = #{memberId}</if>
            <if test="count != null and count != ''"> and t1.count = #{count}</if>
            <if test="createTime != null and createTime != ''"> and t1.create_time = #{createTime}</if>
            <if test="updateTime != null and updateTime != ''"> and t1.update_time = #{updateTime}</if>
        </where>
    </select>
    
    <select id="selectCartById" parameterType="Long" resultMap="CartResult">
        <include refid="selectCartVo"/>
        where cart_id = #{cartId}
    </select>

    <select id="selectCartMemberIdAndproductId" parameterType="map" resultMap="CartResult">
        <include refid="selectCartVo"/>
        where
          member_id = #{memberId}
          and product_id = #{productId}
    </select>
        
    <insert id="insertCart" parameterType="Cart">
        insert into s_cart
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cartId != null and cartId != '' ">cart_id,</if>
			<if test="productId != null and productId != '' ">product_id,</if>
			<if test="memberId != null and memberId != '' ">member_id,</if>
			<if test="count != null and count != '' ">count,</if>
			create_time,
			update_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cartId != null and cartId != ''">#{cartId},</if>
			<if test="productId != null and productId != ''">#{productId},</if>
			<if test="memberId != null and memberId != ''">#{memberId},</if>
			<if test="count != null and count != ''">#{count},</if>
			now(),
            now()
         </trim>
    </insert>
	 
    <update id="updateCart" parameterType="Cart">
        update s_cart
        <trim prefix="SET" suffixOverrides=",">
            <if test="productId != null  ">product_id = #{productId},</if>
            <if test="memberId != null  ">member_id = #{memberId},</if>
            <if test="count != null  ">count = #{count},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where cart_id = #{cartId}
    </update>

	<delete id="deleteCartById" parameterType="Long">
        delete from s_cart where cart_id = #{cartId}
    </delete>
	
    <delete id="deleteCartByIds" parameterType="String">
        delete from s_cart where cart_id in 
        <foreach item="cartId" collection="array" open="(" separator="," close=")">
            #{cartId}
        </foreach>
    </delete>
    
</mapper>